<div class="content-container">
  <div class="content-area">

    <clr-alert [clrAlertType]="'success'" *ngIf="result">
      <clr-alert-item>
        <span class="alert-text">
            {{result}}
        </span>
      </clr-alert-item>
    </clr-alert>

    <clr-alert [clrAlertType]="'danger'" *ngIf="error">
      <clr-alert-item>
        <span class="alert-text">
            {{error}}
        </span>
      </clr-alert-item>
    </clr-alert>


    <h1>Дорогой друг!</h1>
    <p>
      Сейчас ты находишься на страничке проекта arNote. Это сервис хранения желаний, позволяющий считать сроки реализации, различным образом категорировать и управлять вашими желаниями. Для работы с сервисом необходимо получить логин и пароль от автора сервиса, в будущем будет организована свободная регистрация.
    </p>
    <p>
      Одни из Важных преимуществ сервиса планируется сделать шифрование данных на стороне клиента, что обеспечит полную конфиденциальность. То есть администратор / автор сервиса не сможет прочитать Ваши данные ни при каких обстоятельствах, так как все Ваши записи будет шифрованы по уникальному ключу, который знаете только Вы.
    </p>
    <p>
      По всем вопросам просьба писать автору на <i>antonromanov@list.ru.</i>
    </p>

  </div>
  <app-sidebar class="sidenav"></app-sidebar>
</div>
