<clr-alert [clrAlertType]="'success'" *ngIf="result">
  <clr-alert-item>
        <span class="alert-text">
            {{result}}
        </span>
  </clr-alert-item>
</clr-alert>

<clr-alert [clrAlertType]="'danger'" *ngIf="error">
  <clr-alert-item>
        <span class="alert-text">
            {{error}}
        </span>
  </clr-alert-item>
</clr-alert>

<div>
  <div class="ar-900-hide">
    <button class="btn btn-secondary" (click)="getWishesWithMonthGrouping('?sortType=all')"> Обновить</button>
    <clr-dropdown>
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        СОРТИРОВКА
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
        <label class="dropdown-header">Сортировка</label>
        <a *ngFor="let item of groupMonthSort" (click)="sortGroupList(item)" clrDropdownItem>{{item}}</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>

  <!--КНОПКИ ДЛЯ МОБИЛКИ-->
  <div class="ar-900-show">
    <button type="button" class="btn btn-icon" (click)="getWishesWithMonthGrouping('?sortType=all')"
            aria-label="Обновить">
      <clr-icon shape="refresh"></clr-icon>
    </button>
  </div>

  <clr-tree-node *ngFor="let month of asyncWishGroups | async" [clrExpanded]="true">
    <span class="{{month.colorClass}}">{{month.monthName}} <span class="badge">{{month.sum}}</span></span>
    <span [ngClass]="(month.balance>0)?'badge badge-success':'badge badge-danger'">{{month.balance}}</span>
    <span *ngIf="month.overflow" class="badge badge-danger">Перебор!</span>
    <clr-tree-node *ngFor="let items of month.wishList">
      <a [routerLink]="" (click)="editMonthGroupItem(items)">
        <div class="string-truncate">{{items.wish}}</div>
      </a>{{'&nbsp;| ' + items.price + ' |'}}
      <clr-icon shape="upload" (click)="changePriorityMonth(items, 'up')"></clr-icon>
      |
      <clr-icon shape="download" (click)="changePriorityMonth(items, 'down')"></clr-icon>
    </clr-tree-node>
  </clr-tree-node>
</div>

<!--ФОРМА РЕДАКТИРОВАНИЯ ЖЕЛАНИЯ ПРИ ПОМЕСЯЧНОЙ ГРУППИРОВКЕ -->

<clr-modal [(clrModalOpen)]="isMonthGroupModeWishEdit">
  <h3 class="modal-title">Изменить порядок желания</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="MonthGroupModeWishEdit">

      <!-- ПОЛЕ ЖЕЛАНИЕ -->

      <clr-input-container>

        <label #label for="selected_wish" class="input-label clr-col-12">Желание</label>
        <input type="text" clrInput formControlName="wish" id="selected_wish" name="wish" autocomplete="off"
               required readonly
               size="100%">
      </clr-input-container>

      <div>
        <clr-select-container>
          <label #label for="month_field" class="input-label clr-col-12">Месяц</label>
          <select id="month_field" formControlName="month" clrSelect>
            <option *ngFor="let currentMonth of monthList" [value]="currentMonth">{{currentMonth}}</option>
          </select>
        </clr-select-container>
      </div>

    </form>

    <div class="row">
      <button type="button" (click)="applyMonthChange4Wish()" class="btn btn-primary mt-1">Принять</button>
    </div>
  </div>
</clr-modal>
