<!--<clr-alert [clrAlertType]="'success'" *ngIf="result">
  <clr-alert-item>
        <span class="alert-text">
            {{result}}
        </span>
  </clr-alert-item>
</clr-alert>

<clr-alert [clrAlertType]="'danger'" *ngIf="error">
  <clr-alert-item>
        <span class="alert-text">
            {{error}}
        </span>
  </clr-alert-item>
</clr-alert>-->

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let wish of wishes$$ | async">
    <td>{{ wish.id }}</td>
    <td>{{ wish.wish }}</td>
    <td>{{ wish.price }}</td>
  </tr>
  </tbody>
</table>

<!--<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mainSort">
    <td>{{ item }}</td>
    <td>1</td>
    <td>3</td>
  </tr>
  </tbody>
</table>-->

<!--<clr-datagrid *ngIf="!monthOrdermode">-->
<!--<clr-datagrid>
  &lt;!&ndash;<clr-dg-action-bar>
    <div class="actions-container">
      <div class="ar-900-hide">
        <button class="btn btn-primary" (click)="openEditWish($event, null, 2)">Добавить</button>
        <button class="btn btn-secondary" (click)="getWishes(apiUrl)">Обновить</button>
        <button class="btn btn-secondary; hidden-md-down" (click)="openAddSalaryModal($event)">Задать зарплату</button>
        <button class="btn btn-secondary; hidden-md-down" (click)="openParseCsv($event)" *ngIf="userRole==='ADMIN'">Парсинг csv</button>
        <button class="{{filterMode ? 'btn btn-danger; hidden-md-down' : 'btn btn-secondary; hidden-md-down'}}"
                (click)="filterWishes()"> {{filterButtonText}}</button>
        <clr-dropdown class="hidden-md-down">
          <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
            РЕЖИМ ОТОБРАЖЕНИЯ
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen>
            <label class="dropdown-header">Режим отображения</label>
            <a *ngFor="let item of filterTypes" (click)="changeFilter(item)" clrDropdownItem>{{item}}</a>
          </clr-dropdown-menu>
        </clr-dropdown>

        <clr-dropdown class="hidden-md-down">
          <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
            СОРТИРОВКА
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen>
            <label class="dropdown-header">Сортировка</label>
            <a *ngFor="let item of mainSort" (click)="sortMainList(item)" clrDropdownItem>{{item}}</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>

      &lt;!&ndash;МИНИ-КНОПКИ ДЛЯ МОБИЛКИ&ndash;&gt;

      <div class="ar-900-show">
        <div class="clr-row" style="margin-left: 1%">
          <button type="button" class="btn btn-icon" (click)="openEditWish($event, null, 2)"
                  aria-label="Добавить желание">
            <clr-icon shape="plus"></clr-icon>
          </button>
          <button type="button" class="btn btn-icon" (click)="getWishes(apiUrl)" aria-label="Обновить">
            <clr-icon shape="refresh"></clr-icon>
          </button>
          <div class="ar-360-hide">
            <button type="button" (click)="openAddSalaryModal($event)" class="btn btn-icon"
                    aria-label="Задать зарплату">
              <clr-icon shape="ruble"></clr-icon>
            </button>
          </div>
          <button type="button" class="{{filterMode ? 'btn btn-icon btn-danger' : 'btn btn-icon'}}"
                  (click)="filterWishes()" aria-label="Поиск">
            <clr-icon shape="search"></clr-icon>
          </button>
          <button type="button" class="{{filterMode ? 'btn btn-icon btn-danger' : 'btn btn-icon'}}"
                  (click)="isSummInfoForm = true" aria-label="Итоги">
            <clr-icon shape="help"></clr-icon>
          </button>

          <clr-dropdown>
            <button type="button" class="btn btn-icon" aria-label="Режимы" clrDropdownTrigger>
              <clr-icon shape="eye"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <label class="dropdown-header">Режим отображения</label>
              <a *ngFor="let item of filterTypes" (click)="changeFilter(item)" clrDropdownItem>{{item}}</a>
            </clr-dropdown-menu>
          </clr-dropdown>

          <div class="ar-475-hide">

            <clr-dropdown>
              <button type="button" class="btn btn-icon" aria-label="Сортировка" clrDropdownTrigger>
                <clr-icon shape="sort-by"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen>
                <label class="dropdown-header">Сортировка</label>
                <a *ngFor="let item of mainSort" (click)="sortMainList(item)" clrDropdownItem>{{item}}</a>
              </clr-dropdown-menu>
            </clr-dropdown>
          </div>
        </div>
      </div>
    </div>
  </clr-dg-action-bar>&ndash;&gt;
  <clr-dg-column>Желание</clr-dg-column>
  <clr-dg-column>Цена</clr-dg-column>
  &lt;!&ndash;<clr-dg-column [style.width.px]="20" class="hidden-md-down">Приоритет</clr-dg-column>
  <clr-dg-column [style.width.px]="10" class="hidden-md-down">.</clr-dg-column>
  <clr-dg-column [style.width.px]="10" class="hidden-md-down">.</clr-dg-column>
  <clr-dg-column [style.width.px]="10" class="hidden-md-down">Ред.</clr-dg-column>&ndash;&gt;

  <clr-dg-row *clrDgItems="let item of wishes" [clrDgItem]="item">
    <clr-dg-cell><a (click)="openEditWish($event, item, 1)">{{item.wish}}</a></clr-dg-cell>
    <clr-dg-cell style="text-align: center">{{item.price | number:'2.'}}</clr-dg-cell>
    &lt;!&ndash;<clr-dg-cell class="hidden-md-down" style="text-align: center">{{item.priority}}</clr-dg-cell>
    <clr-dg-cell class="hidden-md-down" style="text-align: center">
      <clr-icon shape="upload" (click)="changePriority(item, 'down')"></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell class="hidden-md-down" style="text-align: center">
      <clr-icon shape="download" (click)="changePriority(item, 'up')"></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell class="hidden-md-down" style="text-align: center">
      <clr-icon shape="edit" (click)="openEditWish($event, item, 1)"></clr-icon>
    </clr-dg-cell>&ndash;&gt;
  </clr-dg-row>

 &lt;!&ndash; <clr-dg-footer>
    <div class="clr-row">
      <div class="ar-900-hide">
      <span class="label label-danger" style="margin-left: 1%">ИТОГО<span
        class="badge badge-orange">{{summAll | number:'2.'}} руб.</span></span>
        <span class="label label-danger">Реализация<span class="badge badge-danger">{{periodAll}} мес.</span></span>
        <span class="label label-success">ИТОГО (PRIOR)<span class="badge badge-orange">{{summPriority | number:'2.'}}
          руб.</span></span>
        <span class="label label-success">Реализация<span
          class="badge badge-success">{{periodPriority}} мес.</span></span>
        <span class="label label-gray">Среднее время<span
          class="badge badge-blue">{{implementationPeriod}}</span></span>
      </div>

      <div>
        <clr-dg-pagination #pagination [clrDgPageSize]="15">
          <clr-dg-page-size [clrPageSizeOptions]="[3,5,10,15,30,50,100]" class="ar-475-hide" style="margin-left: 4%">
            жел/стр.
          </clr-dg-page-size>
          <span class="ar-360-hide"> {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            из {{pagination.totalItems}} жел.</span>
        </clr-dg-pagination>
      </div>
    </div>
  </clr-dg-footer>&ndash;&gt;
</clr-datagrid>-->

<!--<button class="btn btn-primary" (click)="toMainTableMode()"> Вернуться в табличный режим</button>

<span class="label label-success">{{cryptokey}}</span>

<clr-datagrid>

  <clr-dg-column>c1</clr-dg-column>
  <clr-dg-column>c2</clr-dg-column>
  <clr-dg-column>c3</clr-dg-column>

  <clr-dg-row *clrDgItems="let item of filterTypes" [clrDgItem]="item">
    <clr-dg-cell><a>{{item}}</a></clr-dg-cell>
    <clr-dg-cell>1</clr-dg-cell>
    <clr-dg-cell>2</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>-->

<!--<div *ngIf="monthOrdermode">
  <div class="ar-900-hide">
    <button class="btn btn-primary" (click)="toMainTableMode()"> Вернуться в табличный режим</button>
    <button class="btn btn-secondary" (click)="getWishesWithMonthGroupping('?sortType=all')"> Обновить</button>
    <clr-dropdown>
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        СОРТИРОВКА
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
        <label class="dropdown-header">Сортировка</label>
        <a *ngFor="let item of groupMonthSort" (click)="sortGroupList(item)" clrDropdownItem>{{item}}</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>-->

  <!--КНОПКИ ДЛЯ МОБИЛКИ-->
  <!--<div class="ar-900-show">
    <button type="button" class="btn btn-icon" (click)="toMainTableMode()" aria-label="Вернуться в табличный режим">
      <clr-icon shape="undo"></clr-icon>
    </button>
    <button type="button" class="btn btn-icon" (click)="getWishesWithMonthGroupping('?sortType=all')"
            aria-label="Обновить">
      <clr-icon shape="refresh"></clr-icon>
    </button>
  </div>

  <clr-tree-node *ngFor="let month of wishGroups" [(clrExpanded)]="month.expanded">
    <span class="{{month.colorClass}}">{{month.monthName}} <span class="badge">{{month.sum}}</span></span>
    <span [ngClass]="(month.balance>0)?'badge badge-success':'badge badge-danger'">{{month.balance}}</span>
    <span *ngIf="month.overflow" class="badge badge-danger">Перебор!</span>

    <clr-tree-node *ngFor="let items of month.wishList">
      <a [routerLink]="" (click)="editMonthGroupItem(items)">
        <div class="string-truncate">{{items.wish}}</div>
      </a>{{'&nbsp;| ' + items.price + ' |'}}
      <clr-icon shape="upload" (click)="changePriorityMonth(items, 'up')"></clr-icon>
      |
      <clr-icon shape="download" (click)="changePriorityMonth(items, 'down')"></clr-icon>
    </clr-tree-node>
  </clr-tree-node>-->
<!--</div>-->










