<div class="content-container">
  <div class="content-area">
    <ng-content>
    </ng-content>

    <div class="clr-row">
    <div class="clr-col-12">
    <table class="table">
      <thead>
      <tr>
        <th>Желание</th>
        <th>Цена</th>
        <th>Приоритет</th>
        <th>.</th>
        <th>.</th>
        <th>Ред.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of wishes">
        <td style="width: 50%"> {{item.wish}} </td>
        <td style="width: 10%"> 100 000 </td>
        <td > {{item.priority}} </td>
        <td style="width: 5%">  <clr-icon shape="upload" (click)="up($event, item)"></clr-icon> </td>
        <td style="width: 5%"> <clr-icon shape="download" (click)="down($event, item)"></clr-icon> </td>
        <td > <clr-icon shape="edit" (click)="openEditWish($event, item)"></clr-icon> </td>
      </tr>
      <td style="width: 50%"> ИТОГО </td>
      <td style="width: 10%"> 100 000 </td>
      <td > - </td>
      <td style="width: 5%">  - </td>
      <td style="width: 5%"> - </td>
      <td > <i class="fas fa-arrow-up"></i> </td>
      <tr>
      </tr>
      </tbody>
    </table>
    </div>
    </div>

    <button class="btn btn-primary" (click)="test()">Primary</button>
    <span class="label label-info">{{testData}}</span>

    <clr-modal [(clrModalOpen)]="isEdit">
      <h3 class="modal-title">{{isEditableTransacion ? 'Редактировать сервис' : 'Добавить сервис'}}</h3>
      <div class="modal-body">
        <form clrForm [formGroup]="form">


          <!--ПОЛЕ ID-->

          <clr-input-container>

            <label #label for="id" class="input-label clr-col-12">id</label>
            <input type="id" clrInput formControlName="id" id="id" name="id" autocomplete="off" readonly required size="50">
          </clr-input-container>

          <!--ПОЛЕ ИМЯ-->


          <clr-input-container>

            <label #label for="name" class="input-label clr-col-12">Название</label>
            <input type="text"
                   clrInput
                   formControlName="name"
                   id="name"
                   name="name"
                   autocomplete="off" required size="100">

            <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
          </clr-input-container>

          <!--ПОЛЕ ОПИСАНИЕ-->

          <clr-input-container>
            <label #label for="description" class="input-label clr-col-12">Описание</label>
            <input type="text"
                   clrInput
                   formControlName="description"
                   id="description"
                   name="description"
                   autocomplete="off" required size="100">
            <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
          </clr-input-container>

          <!--ПОЛЕ URL-->

          <clr-input-container>
            <label #label for="url" class="input-label clr-col-12">URL</label>
            <input type="url"
                   clrInput
                   formControlName="url"
                   id="url"
                   name="url"
                   autocomplete="off" required size="100">
            <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
            <clr-control-error *clrIfError="'pattern'">Некорректный форма url</clr-control-error>
          </clr-input-container>

          <!--ПОЛЕ PRIORITY-->

          <clr-input-container>
            <label #label for="priority" class="input-label clr-col-12">Приоритет</label>
            <input type="text"
                   clrInput
                   formControlName="priority"
                   id="priority"
                   name="priority"
                   autocomplete="off">
            <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
          </clr-input-container>

          <!--ПОЛЕ PRICE-->

          <clr-input-container>
            <label #label for="price" class="input-label clr-col-12">Цена</label>
            <input type="text"
                   clrInput
                   formControlName="price"
                   id="price"
                   name="price"
                   autocomplete="off">
          </clr-input-container>
        </form>
        <!--<clr-checkbox-wrapper>-->
          <!--<input type="checkbox" clrCheckbox [(ngModel)]="enabled"  name="options" />-->
          <!--<label>Включен</label>-->
        <!--</clr-checkbox-wrapper>-->
        <button type="button" (click)="addEditService()" class="btn btn-primary mt-1">Сохранить</button>
      </div>
    </clr-modal>


   <!-- <h1>Login</h1>

    <form clrForm [formGroup]="form" (ngSubmit)="submit()">
      <clr-input-container>
        <label>Email</label>
        <input clrInput formControlName="email" type="email" />
        &lt;!&ndash;<clr-control-error *clrIfError="required">Email Required</clr-control-error>&ndash;&gt;
      </clr-input-container>

      <button class="btn">Login</button>
    </form>-->



  </div>

  <app-sidebar class="sidenav"></app-sidebar>
</div>
