<div class="content-container">
  <!--<div class="clr-break-row">-->
  <!--<div class="col-4">-->
  <div class="content-area">
    <!--<ng-content></ng-content>-->

    <clr-alert [clrAlertType]="'success'" *ngIf="result">
      <clr-alert-item>
        <span class="alert-text">
            {{result}}
        </span>
      </clr-alert-item>
    </clr-alert>

    <clr-alert [clrAlertType]="'danger'" *ngIf="error">
      <clr-alert-item>
        <span class="alert-text">
            {{error}}
        </span>
      </clr-alert-item>
    </clr-alert>

    <div class="clr-row">
      <div class="col-lg-8">

        <!--<clr-datagrid class="datagrid-compact">-->
        <clr-datagrid>
          <clr-dg-column>Желание</clr-dg-column>
          <clr-dg-column>Цена</clr-dg-column>
          <clr-dg-column class="hidden-md-down">Приоритет</clr-dg-column>
          <clr-dg-column class="hidden-md-down">.</clr-dg-column>
          <clr-dg-column class="hidden-md-down">.</clr-dg-column>
          <clr-dg-column>Ред.</clr-dg-column>

          <clr-dg-row *clrDgItems="let item of wishes" [clrDgItem]="item">
            <clr-dg-cell style="width: 80%">{{item.wish}}</clr-dg-cell>
            <clr-dg-cell style="width: 20%; text-align: center">{{item.price}}</clr-dg-cell>
            <clr-dg-cell class="hidden-md-down" style="width: 5%; text-align: center">{{item.priority}}</clr-dg-cell>
            <clr-dg-cell class="hidden-md-down" style="width: 2%; text-align: center">
              <clr-icon shape="upload" (click)="changePriority(item, 'down')"></clr-icon>
            </clr-dg-cell>
            <clr-dg-cell class="hidden-md-down" style="width: 2%; text-align: center">
              <clr-icon shape="download" (click)="changePriority(item, 'up')"></clr-icon>
            </clr-dg-cell>
            <clr-dg-cell style="width: 5%; text-align: center">
              <clr-icon shape="edit" (click)="openEditWish($event, item, 1)"></clr-icon>
            </clr-dg-cell>

          </clr-dg-row>

          <clr-dg-footer>

            <span class="label label-danger">ИТОГО<span class="badge badge-orange">{{summAll}} руб.</span></span>
            <span class="label label-danger">Реализация<span class="badge badge-danger">{{periodAll}} мес.</span></span>

            <span class="label label-success">ИТОГО (PRIOR)<span class="badge badge-orange">{{summPriority}} руб.</span></span>
            <span class="label label-success">Реализация<span class="badge badge-success">{{periodPriority}} мес.</span></span>


            <clr-dg-pagination #pagination [clrDgPageSize]="30">
              <clr-dg-page-size [clrPageSizeOptions]="[3,5,10,15, 100]"> Users per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
            </clr-dg-pagination>

          </clr-dg-footer>
        </clr-datagrid>


      </div>
    </div>


    <!--<div>{{globalError.errorType2}}</div>-->

    <button class="btn btn-primary" (click)="openEditWish($event, item, 2)"> Добавить</button>
    <button class="btn btn-secondary" (click)="getWishes()"> Обновить</button>
    <button class="btn btn-secondary" (click)="openAddSalaryModal($event)"> Задать зарплату</button>
    <button class="btn btn-secondary" (click)="openParseCsv($event)"> Парсинг csv</button>
    <!--<button class="btn btn-secondary" (click)="login()"> Логин </button>-->
    <clr-dropdown>
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        Фильтры
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
        <label class="dropdown-header">Фильтры</label>
        <a *ngFor="let item of filters" (click)="changeFilter(item)" clrDropdownItem>{{item}}</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <clr-dropdown>
      <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        Залогиниться как...
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
        <label class="dropdown-header">Залогиниться как</label>
        <a *ngFor="let item of templogins" (click)="changeLogin(item)" clrDropdownItem>{{item}}</a>
      </clr-dropdown-menu>
    </clr-dropdown>


    <clr-modal [(clrModalOpen)]="isEdit">
      <h3 class="modal-title">{{isEditMode ? 'Редактировать сервис' : 'Добавить сервис'}}</h3>
      <div class="modal-body">
        <form clrForm [formGroup]="form">


          <!--ПОЛЕ ID-->

          <clr-input-container>

            <label #label for="id" class="input-label clr-col-12">id</label>
            <input type="id" clrInput formControlName="id" id="id" name="id" autocomplete="off" readonly required
                   size="50">
          </clr-input-container>

          <!--ПОЛЕ ИМЯ-->


          <clr-input-container>

            <label #label for="name" class="input-label clr-col-12">Название</label>
            <input type="text"
                   clrInput
                   formControlName="name"
                   id="name"
                   name="name"
                   autocomplete="off" required size="100">

            <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
          </clr-input-container>

          <!--ПОЛЕ ОПИСАНИЕ-->

          <clr-input-container>
            <label #label for="description" class="input-label clr-col-12">Описание</label>
            <input type="text"
                   clrInput
                   formControlName="description"
                   id="description"
                   name="description"
                   autocomplete="off" required size="100">
            <!--<clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>-->
          </clr-input-container>

          <!--ПОЛЕ URL-->

          <clr-input-container>
            <label #label for="url" class="input-label clr-col-12">URL</label>
            <input type="url"
                   clrInput
                   formControlName="url"
                   id="url"
                   name="url"
                   autocomplete="off" required size="100">
            <!--<clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>-->
            <!--<clr-control-error *clrIfError="'pattern'">Некорректный форма url</clr-control-error>-->
          </clr-input-container>

          <!--ПОЛЕ PRIORITY-->

          <clr-input-container>
            <label #label for="priority" class="input-label clr-col-12">Приоритет</label>
            <input type="text"
                   clrInput
                   formControlName="priority"
                   id="priority"
                   name="priority"
                   autocomplete="off">
            <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
          </clr-input-container>

          <!--ПОЛЕ PRICE-->

          <clr-input-container>
            <label #label for="price" class="input-label clr-col-12">Цена</label>
            <input type="text"
                   clrInput
                   formControlName="price"
                   id="price"
                   name="price"
                   autocomplete="off">
          </clr-input-container>
        </form>

        <div class="row">
          <button type="button" (click)="addEditService()" class="btn btn-primary mt-1">Сохранить</button>
          <button type="button" (click)="deleteWish()" *ngIf="isEditMode" class="btn btn-danger mt-1">Удалить</button>
        </div>

      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="isSalaryAdd">
      <h3 class="modal-title">Добавить зарплату</h3>
      <div class="modal-body">
        <form clrForm [formGroup]="salaryForm">

          <!--ПОЛЕ SALARY-->

          <clr-input-container>

            <label #label for="salary" class="input-label clr-col-12">Зарплата</label>
            <input type="text" clrInput formControlName="salary" id="salary" name="salary" autocomplete="off" required
                   size="100">
          </clr-input-container>

          <!--ПОЛЕ RESIDUAL SALARY-->

          <clr-input-container>

            <label #label for="residualSalary" class="input-label clr-col-12">Остаточная зарплата</label>
            <input type="text" clrInput formControlName="residualSalary" id="residualSalary" name="residualSalary"
                   autocomplete="off" required
                   size="100">
          </clr-input-container>


        </form>

        <div class="row">
          <button type="button" (click)="addSalary()" class="btn btn-primary mt-1">Добавить</button>
        </div>

      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="isCsvParse">
      <h3 class="modal-title">Парсинг csv-файла</h3>
      <div class="modal-body">
        <form clrForm [formGroup]="csvForm">


          <!--ПОЛЕ FILE-->

          <clr-input-container>

            <label #label for="csvfile" class="input-label clr-col-12">Укажите csv-файл</label>
            <input type="file" clrInput formControlName="csvfile" id="csvfile" name="csvfile" autocomplete="off"
                   required
                   size="100">
          </clr-input-container>

          <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

            <input type="file" name="profile" (change)="onFileSelect($event)"/>
            <div>
              <button type="submit">Upload</button>
            </div>
          </form>

        </form>

        <div class="row">
          <button type="button" (click)="sendCsvFile()" class="btn btn-primary mt-1">Парсить</button>
        </div>

      </div>
    </clr-modal>


  </div>
  <!--</div>-->

  <!--<div class="col-4">-->
  <app-sidebar class="sidenav"></app-sidebar>

  <!--</div>-->
  <!--</div>-->
</div>
