
::ng-deep clr-icon:hover {
  background:#53ea93;
}


/*.btn-primary:hover {*/
  /*background:#53ea93;*/
/*}*/



.fas .fa-arrow-up{
  background: #0c5460;
}

.fa, .fas:hover {
  background: aqua;
}
:host{

}
