<clr-main-container>
<header class="header-1">
  <div class="branding">
    <a class="nav-link">
      <clr-icon shape="shield"></clr-icon>
      <span class="title">arNote Project</span>
    </a>
  </div>
  <div class="header-nav">
    <a class="active nav-link nav-icon" clrVerticalNavLink routerLink="../" routerLinkActive="active">
      <clr-icon shape="home"></clr-icon>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown class="dropdown bottom-right">
      <button class="nav-icon" clrDropdownToggle>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>

      <div class="dropdown-menu">
        <label class="dropdown-header">Меню пользователя</label>
        <a *ngFor="let item of loginDropDownMenu" (click)="loginIconHandler(item)"  clrDropdownItem>{{item}}</a>
      </div>
    </clr-dropdown>

  </div>
</header>

<!--<div class="content-container">
  <div class="content-area">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>Настройка сервисов</button>
        <clr-tab-content id="content1" *clrIfActive>
          <h3>Настройка сервисов</h3>
          <app-transaction-log></app-transaction-log>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>Отчеты</button>
        <clr-tab-content id="transaction-log" *clrIfActive="true">
          <h3>Журнал отчетов</h3>
          <app-report></app-report>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
</div>-->


<clr-modal [(clrModalOpen)]="isLogin">
  <h3 class="modal-title">Войти</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="loginForm">

      <!--ПОЛЕ ЛОГИН-->

      <clr-input-container>

        <label #label for="login" class="input-label clr-col-12">Логин</label>
        <input type="text" clrInput formControlName="login" id="login" name="login" autocomplete="off" required
               size="100">
      </clr-input-container>

      <!--ПОЛЕ ПАРОЛЬ-->

      <clr-input-container>

        <label #label for="password" class="input-label clr-col-12">Пароль</label>
        <input type="password" clrInput formControlName="password" id="password" name="password" autocomplete="off" required
               size="100">
      </clr-input-container>


    </form>

    <div class="row">
      <button type="button" (click)="sendLogin()" class="btn btn-primary mt-1">Войти</button>
    </div>

  </div>
</clr-modal>

<!--ФОРМА РЕДАКТИРОВАНИЯ ПОЛЬЗОВАТЕЛЬСКИХ ДАННЫХ-->

<clr-modal [(clrModalOpen)]="isUserDataEdit">
  <h3 class="modal-title">Редактирование пользовательских данных</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="userInfoForm">

      <!--ПОЛЕ ЛОГИН-->

      <clr-input-container>

        <label #label for="editlogin" class="input-label clr-col-12">Логин</label>
        <input type="text" clrInput formControlName="editlogin" id="editlogin" name="editlogin" autocomplete="off" required
               size="100">
        <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
      </clr-input-container>

      <!--ПОЛЕ ПАРОЛЬ-->

      <clr-password-container>

        <label #label for="editpassword" class="input-label clr-col-12">Пароль</label>
        <input type="password" clrPassword formControlName="editpassword" id="editpassword" name="editpassword" autocomplete="off"
               size="100">
        </clr-password-container>

      <br/>

      <!-- ENCRYPTED MODE -->

      <clr-checkbox-wrapper>

        <label #label for="isencrypted" class="input-label clr-col-12">Шифрование данных на фронте</label>
        <input type="checkbox" clrCheckbox  formControlName="isencrypted" id="isencrypted" name="isencrypted">
        </clr-checkbox-wrapper>

      <!--ПОЛЕ EMAIL-->

      <clr-input-container>

        <label #label for="email" class="input-label clr-col-12">Email</label>
        <input type="email" clrInput formControlName="email" id="email" name="email" autocomplete="off" required
               size="100">
        <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
      </clr-input-container>

      <!--ПОЛЕ ПОЛНОЕ ИМЯ-->

      <clr-input-container>

        <label #label for="fullname" class="input-label clr-col-12">Полное имя</label>
        <input type="text" clrInput formControlName="fullname" id="fullname" name="fullname" autocomplete="off"
               size="100">
      </clr-input-container>

      <!-- ПОЛЕ КЛЮЧ ШИФРОВАНИЯ -->

      <clr-password-container>

        <label #label for="cryptkey" class="input-label clr-col-12">Персональный ключ шифрования</label>
        <input type="password" clrPassword formControlName="cryptkey" id="cryptkey" name="cryptkey" autocomplete="off" required
               size="100">
        <clr-control-error *clrIfError="'required'">Обязательно для заполнения</clr-control-error>
      </clr-password-container>
      <br/>

      <span class="label label-warning">Ключ хранится только у Вас. Запомните его и не теряйте.</span>




    </form>

    <div class="row">
      <button type="button" (click)="changeUserData()" class="btn btn-primary mt-1"  [disabled]="!userInfoForm.valid">ИЗМЕНИТЬ</button>
    </div>

  </div>
</clr-modal>

</clr-main-container>
